<div class="slider" *ngIf="movies$ | async as movies">
  <div
    class="slide"
    *ngFor="let movie of movies.results; let movieIndex = index"
  >
    <ng-container *ngIf="movieIndex === slideIndex">
      <div class="slide-bg">
        <img
          src="{{ 'https://image.tmdb.org/t/p/w1280/' + movie.backdrop_path }}"
          alt=""
        />
      </div>
      <div class="slide-pane">
        <h2 class="title">{{ movie.title | uppercase }}</h2>
        <div class="meta mb-4">
          <div class="rating mb-1">
            <i class="pi pi-star-fill"></i>
            <span>{{ movie.vote_average }}</span>
            <span>/10</span>
          </div>
          <div class="votes mb-1">
            <i class="pi pi-users"></i>
            <span>{{ movie.vote_count }}</span>
          </div>
          <div class="release-date">
            <i class="pi pi-calendar"></i>
            <span>{{ movie.release_date }}</span>
          </div>
        </div>
        <div class="description">{{ movie.overview }}</div>
      </div>
    </ng-container>
  </div>
</div>
