<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg"
        alt=""
      />
    </div>
    <div class="slide-pane">
      <h2 class="title">Slider Title</h2>
      <div class="meta mb-4">
        <div class="rating mb-1">
          <i class="pi pi-star-fill"></i>
          <span>8.6</span>
          <span>/10</span>
        </div>
        <div class="votes mb-1">
          <i class="pi pi-users"></i>
          <span>4433</span>
        </div>
        <div class="release-date">
          <i class="pi pi-calendar"></i>
          <span>20.06.2024</span>
        </div>
      </div>
      <div class="description">Description of the movie</div>
    </div>
  </div>
</div>
<pre>
  {{ movies | async | json }}
</pre>
