<app-slider></app-slider>
<ng-container *ngIf="upcomingMovies$ | async as upcomingMovies">
  <app-banner [title]="'Upcoming Movies'" [shows]="upcomingMovies"></app-banner
></ng-container>
<ng-container *ngIf="topRatedMovies$ | async as topRatedMovies">
  <app-banner [title]="'Top Rated Movie'" [shows]="topRatedMovies"></app-banner
></ng-container>
<ng-container *ngIf="popularTvShows$ | async as popularTvShows">
  <app-banner [title]="'Popular TV Shows'" [shows]="popularTvShows"></app-banner
></ng-container>
<ng-container *ngIf="topRatedTvShows$ | async as topRatedTvShows">
  <app-banner
    [title]="'Top Rated TV Shows'"
    [shows]="topRatedTvShows"
  ></app-banner
></ng-container>
